/app/model/ner/cfg
/app/model/config.cfg
/app/model/vocab/key2row
/app/model/vocab/lookups.bin
/app/model/meta.json
/app/model/ner/model
/app/model/ner/moves
/app/model/vocab/strings.json
/app/model/tokenizer
/app/model/vocab/vectors
